body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fafafa;
  font-size: 16px;
  height: 100vh;
}

.container {
  max-width: 1440px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 100px; /* separate nav and content */
}

.title {
  font-size: .8em;
  font-weight: bold;
}

.caption {
  font-size: .8em;
}

/* margins */
.mr-1 {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.ml-1 {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}