.form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.message-success {
  color: green;
}

.message-error {
  color: red;
}

.select {
  width: 100%;
  background: transparent;
  border-bottom: 1.5px solid var(--gray);
  outline: none;
  border-top: none;
  border-left: none;
  height: 58px;
  border-right: none;
  margin-bottom: 20px;
  transition: .5s border-bottom-color ease;
}

.select:focus {
  transition: .5s border-bottom-color ease;
  border-bottom: 1.5px solid var(--main-color);
}

.select-label {
  font-size: 14px;
}