.clients-list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.clients-list__item {
  width: 320px;
  list-style: none;
  background-color: white;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0px 3px 5px #ccc;
}