<script>
    import Button from '../ui/Button/Button.vue'
    import Input from '../ui/Input/Input.vue'
    import axios from 'axios'

    export default {
        components: {
            'c-btn': Button,
            'c-input': Input
        },
        data() {
            return {
                message: {
                    isSuccess: true,
                    text: ''
                },
                form: {
                    name: "",
                    date: "2019-07-06",
                    time: "10:50",
                    price: 700,
                    service: "Наращивание",
                    phone: "",
                    vk: ""
                }
            }
        },
        methods: {
            addClient() {
                const form = document.getElementById('form')
                const isValidForm = form.checkValidity()
                if (isValidForm) {
                    axios.post('http://192.168.0.106:3000/api/add-client', this.form)
                        .then(response => {
                            this.$store.commit('SET_CLIENTS', response.data)
                        })
                    this.message.isSuccess = true
                    this.message.text = 'Запись добавлена'
                    setTimeout(() => {
                        this.message.text = ''
                        this.$router.push('/')
                        form.reset()
                    }, 1000)
                } else {
                    this.message.isSuccess = false
                    this.message.text = 'Ошибка!'
                }
            }
        }
    };
</script>

<template>
    <div class="container">
        <form class="form" id="form" @submit.prevent>
            <c-input v-model="form.name"
                     type="text"
                     placeholder="Введите имя"
                     required
                     label="Имя"></c-input>
            <c-input v-model="form.date"
                     type="date"
                     placeholder="Введите дату"
                     required
                     label="Дата"></c-input>
            <c-input v-model="form.time"
                     type="time"
                     placeholder="Введите время"
                     required
                     label="Время"></c-input>
            <c-input v-model="form.price"
                     type="number"
                     placeholder="Введите цену"
                     required
                     label="Цена"></c-input>
            <label class="select-label"
                   for="service">
                Выберите услугу
            </label>
            <select v-model="form.service"
                    class="select"
                    name="service"
                    required="required"
                    id="service">
                <option value="Наращивание">Наращивание</option>
                <option value="Гель-лак">Гель-лак</option>
            </select>
            <c-input v-model="form.vk"
                     type="text"
                     placeholder="Введите ссылку на vk"
                     label="Вконтакте"></c-input>
            <c-input v-model="form.phone"
                     type="number"
                     placeholder="Введите телефон"
                     label="Телефон"></c-input>
            <c-btn @click.native="addClient"
                   fullWidth>
                добавить
            </c-btn>
        </form>
        <p v-show="message.text">
            <span :class="{'message-success': message.isSuccess,
                           'message-error': !message.isSuccess}">
                {{ message.text }}
            </span>
        </p>
    </div>
</template>