<script>
    export default {
        name: 'c-btn',
        props: {
            fullWidth: {
                type: Boolean,
                require: false,
                default: false
            },
            color: {
                type: String,
                require: false,
                default: 'teal'
            },
            disabled: {
                type: Boolean,
                require: false,
                default: false
            },
            preloader: {
                type: Boolean,
                require: false,
                default: false
            }
        }
    }
</script>

<template>
    <button class="c-btn"
            :disabled="disabled"
            :class="{'c-btn_fullwidth': fullWidth,
             'c-btn_disabled': disabled,
             'c-btn_red': color === 'red',
             'c-btn_teal': color === 'teal'}">
        <template v-if="!preloader">
            <slot></slot>
        </template>
        <div v-show="preloader"
             class="c-btn__preloader">
        </div>
    </button>
</template>

<style lang="scss" src="./button.scss" scoped></style>