.c-btn {
    position: relative;
    cursor: pointer;
    outline: none;
    border: none;
  background-color: $c-main;
    height: 40px;
    min-width: 100px;
    color: white;
    border-radius: 2px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.c-btn:hover {
    background-color: #26a69a;
}

.c-btn:active {
    background-color: #00695c;
}

.c-btn_fullwidth {
    width: 100%;
}

.c-btn_disabled {
    box-shadow: none;
    cursor: not-allowed;
    background-color: lightgray;
}

.c-btn_disabled:hover, :active {
    background-color: lightgray;
}

.c-btn_red {
  background-color: $c-red;
}

.c-btn_red:hover {
    background-color: #e57373;
}

.c-btn_red:active {
    background-color: #e53935;
}

.c-btn__preloader {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    margin-top: -12px;
    margin-left: -10px;
    border-radius: 50%;
    border: 4px solid #ccc;
    border-top-color: white;
    animation: rotate 1s linear infinite;
}


@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}