.c-nav {
  position: fixed;
  background-color: $c-main;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  width: 100%;
  box-shadow: 0px 4px 6px #89eae1;
  z-index: 5;
}

.c-nav__list {
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin: 0;
}

.c-nav__link {
  list-style: none;
  width: 50%;
  text-align: center;
  padding: 20px 0;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color .3s;
}

.c-nav__link:hover {
  background-color: #00695c;
}

.c-nav__link_active {
  background-color: #26a69a;
}