<script>
    export default {
        name: "c-nav",
        $links: [
            {title: "Мои записи", path: "/"},
            {title: "Добавить запись", path: "/form"}
        ]
    };
</script>

<template>
    <nav class="c-nav">
        <ul class="c-nav__list">
            <router-link v-for="link in $options.$links"
                         :key="link.path"
                         tag="li"
                         :to="link.path"
                         class="c-nav__link"
                         active-class="c-nav__link_active"
                         exact>
                {{ link.title }}
            </router-link>
        </ul>
    </nav>
</template>

<style src="./navigation.scss" lang="scss" scoped>

</style>
