<script>
    import Button from './ui/Button/Button.vue'
    import axios from 'axios'

    export default {
        components: {
            'c-btn': Button,
        },
        props: {
            client: {
                type: Object,
                require: true,
                default: {}
            }
        },
        data() {
            return {
                processing: {
                    remove: false,
                    finish: false
                }
            }
        },
        computed: {
            workDate() {
                return new Date(this.client.date).toLocaleDateString()
            },
            createdDate() {
                return new Date(this.client.created_at).toLocaleString()
            }
        },
        methods: {
            getDayName(date) {
                const weekDays = {
                    1: 'Понедельник',
                    2: 'Вторник',
                    3: 'Среда',
                    4: 'Четверг',
                    5: 'Пятница',
                    6: 'Суббота',
                    7: 'Воскресенье'
                };

                const dayNumber = new Date(date).getDay()
                return weekDays[dayNumber]
            },
            removeClient(clientId) {
                this.processing.remove = true
                return axios.delete(`http://192.168.0.106:3000/api/clients/${clientId}`)
                    .then(res => {
                        this.clients = res.data;
                        this.$store.commit('SET_CLIENTS', res.data);
                        this.processing.remove = false
                    })
                    .catch(err => {
                        this.processing.remove = false;
                        throw err
                    })
            },
            finishWork(clientId) {
                this.processing.finish = true
                return axios.patch(`http://192.168.0.106:3000/api/clients/${clientId}`)
                    .then(res => {
                        this.$store.commit('SET_CLIENTS', res.data)
                        this.processing.finish = false;
                    })
                    .catch(err => {
                        this.processing.finish = false;
                        throw err
                    })
            },
            openEditModal(clientId) {
                // this.$store.commit('SET_MODAL_NAME', 'edit-client-modal')
                // axios.get(`http://192.168.0.106:3000/api/clients/${clientId}`)
                //     .then(response => {
                //         console.log(response.data)
                //     })
            }
        }
    }
</script>

<template>
    <div class="c-card">
        <div @click="openEditModal(client._id)"
             class="c-card__edit">
            <svg width="25" height="25" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
                <path d="M888 1184l116-116-152-152-116 116v56h96v96h56zm440-720q-16-16-33 1l-350 350q-17 17-1 33t33-1l350-350q17-17 1-33zm80 594v190q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h832q63 0 117 25 15 7 18 23 3 17-9 29l-49 49q-14 14-32 8-23-6-45-6h-832q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-126q0-13 9-22l64-64q15-15 35-7t20 29zm-96-738l288 288-672 672h-288v-288zm444 132l-92 92-288-288 92-92q28-28 68-28t68 28l152 152q28 28 28 68t-28 68z"/>
            </svg>
        </div>
        <p class="caption">
            <span>{{ getDayName(client.date) }}</span> {{ workDate }} в {{ client.time }}
        </p>
        <p>
            {{ client.name }}
        </p>
        <p>
            {{ client.service }}
        </p>
        <p>
            {{ client.price }} рублей
        </p>
        <p v-if="client.vk">
            <a :href="client.vk" target="_blank">
                Вконтакте
            </a>
        </p>
        <p>
            <a :href="'tel:'+ client.phone" target="_blank">
                Телефон
            </a>
        </p>
        <div class="c-card__actions">
            <c-btn class="mr-2"
                   @click.native="removeClient(client._id)"
                   :preloader="processing.remove"
                   color="red">
                Удалить
            </c-btn>
            <c-btn @click.native="finishWork(client._id)"
                   :preloader="processing.finish">
                Сделано
            </c-btn>
        </div>
    </div>
</template>

<style scoped>
    .c-card {
        position: relative;
        width: 320px;
        list-style: none;
        background-color: white;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 3px;
        box-shadow: 0px 3px 5px #ccc;
    }

    .c-card__edit {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .c-card__actions {
        display: flex;
        flex-wrap: wrap;
    }
</style>