<script>
    import Navigation from "./components/ui/Navigation/Navigation.vue";
    import Modal from './components/modals/Modal.vue'
    import axios from 'axios'

    export default {
        name: "app",
        components: {
            "main-navigation": Navigation,
            'c-modal': Modal
        },
        data() {
            return {
                showModal: false,
                processing: false
            };
        },
        computed: {
            modalName() {
                return Boolean(this.$store.state.modal.name)
            }
        },
        methods: {
            getClientsList() {
                this.processing = true
                return axios.get('http://192.168.0.106:3000/api/clients')
                    .then(response => {
                        this.processing = false
                        this.$store.commit('SET_CLIENTS', response.data)
                    })
                    .catch(err => {
                        this.processing = false
                        console.log(err);
                    })
            },
        },
        mounted() {
            this.getClientsList()
        }
    };
</script>

<template>
    <div>
        <c-modal v-if="false"/>
        <main-navigation></main-navigation>
        <router-view/>
    </div>
</template>

